.placement-container {
  width: 100%;
}
.placement-base {
  width: 100%;
  position: absolute;

  top: -26px;
  color: rgb(0, 0, 0);
}

.each-slide {
  display: flex;

  width: 100%;
  height: 100%;
  position: relative;
}
img {
  width: 100%;
}
